body {
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: left;

}

.weatherFrame {
  width: 100%;
  overflow:auto;
}

.leftWeather {
  width: 49%;  
  float:left;
 }

.rightWeather {
  float: right;
  width: 49%;  
}